<h1 class="text-center">Module 42</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/connexion" >Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/main">Exercices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/createExercice">Création d'exercice</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" routerLink="/adminDroit">Gestion des droits</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
<router-outlet></router-outlet>