/* permet d'afficher 3 li par ligne */
.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }  
  .serv ul li {
    list-style: none;
    flex: 0 0 33.333333%;
    text-transform: capitalize;
    padding: 1px;
  } 
  
  
  .container{
    background-color:#2A2A2A;
    color: white;
  }
  .croixRouge{
    text-align: right;
  }
  label{
    margin-left: 10px;
  }